<div id="<%= dom_id profile %>">
  <p>
    <strong>Full name:</strong>
    <%= profile.full_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= profile.age %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= profile.sex %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
